@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 100px;
	color:#ec0e0e;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #f80000;
	letter-spacing: 0.5px;
}
h2{
	color: #ff0000;
	letter-spacing: 0.5px;
	font-family: sans-serif;
}